@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #eff1f5;
    --foreground: #4c4f69;

    --muted: #e6e9ef;
    --muted-foreground: #5c5f77;

    --popover: #9ca0b0;
    --popover-foreground: #4c4f69;

    --card: #e6e9ef;
    --card-foreground: #4c4f69;

    --border: #ccd0da;
    --input: #fbfabf;

    --primary: #8839ef;
    --primary-foreground: #eff1f5;

    --secondary: #7287fd;
    --secondary-foreground: #eff1f5;

    --accent: #40a02b;
    --accent-foreground: #eff1f5;

    --destructive: #d20f39;
    --destructive-foreground: #eff1f5;

    --ring: #ea76cb;

    --radius: 0.25rem;
  }


  @media (prefers-color-scheme: dark) {
    :root {
      --background: #1e1e2e;
      --foreground: #cdd6f4;

      --muted: #11111b;
      --muted-foreground: #a6adc8;

      --popover: #6c7086;
      --popover-foreground: #cdd6f4;

      --card: #313244;
      --card-foreground: #cdd6f4;

      --border: #7f849c;
      --input: #313244;

      --primary: #f5c2e7;
      --primary-foreground: #1e1e2e;

      --secondary: #b4befe;
      --secondary-foreground: #1e1e2e;

      --accent: #a6e3a1;
      --accent-foreground: #1e1e2e;

      --destructive: #f38ba8;
      --destructive-foreground: #1e1e2e;

      --ring: #f5c2e7;

      --radius: 0.25rem;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

body {
  font-family: "DM Sans", sans-serif;
}

::-moz-selection { /* Code for Firefox */
  color: #4c4f69;
  background: #8839ef70;
}

::selection {
  color: #4c4f69;
  background: #8839ef70;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e6e9ef;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7287fd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7287fd;
}

@media (prefers-color-scheme: dark) {
  ::-moz-selection { /* Code for Firefox */
    color: #cdd6f4;
    background: #f5c2e720;
  }

  ::selection {
    color: #cdd6f4;
    background: #f5c2e720;
  }

    /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #11111b;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b4befe;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b4befe;
  }

}